@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.home-bg {
  background: url("./assets//images/bg3.jpg");
  background-position: center;
  background-size: cover;
}

.about-bg {
  background: url("./assets//images/aboutbg.jpg");
  background-position: center;
  background-size: cover;
}

.vid-anim {
  animation: vid infinite 5s;
}

@keyframes vid {
  0% {
    @apply p-2 bg-gray-600;
  }
  25% {
    @apply p-0 bg-gray-600;
  }
  50% {
    @apply p-2 bg-gray-600;
  }
  75% {
    @apply p-0 bg-gray-600;
  }
  100% {
    @apply p-2 bg-gray-600;
  }
}
